<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
  <ion-list>
    <ion-item href="/home" menu-close="">
      Dashboard
     </ion-item>
    <ion-item href="/gecko" menu-close="">
     Leopard Gecko
    </ion-item>
    <ion-item href="/iguana" menu-close="">
     Iguana
    </ion-item>
    <ion-item href="/about" menu-close="">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-item>
   </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>myKadal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"><img src="assets/gecko.png">
    <p>Leopard Gecko (Eublepharis Macularius) adalah sejenis tokek yang hidup dipermukaan tanah dan aktif pada malam hari. Leopard Gecko ditemukan di Pakistan, India, Afghanistan dan Iran dimana terdapat dataran kering dan berbatu. Leopard Gecko memakan serangga seperti jangkrik dan ulat hongkong, pada ukuran dewasa pada umumnya Leopard Gecko mencapai ukuran 21-29cm dan hewan ini dapat hidup lebih dari 10 tahun jika dirawat dengan baik.</p>
    <p>Saat ini Leopard Gecko pastinya sudah sangat dikenal dikalangan pecinta reptil Indonesia. Selain karakternya yang sangat jinak, Leopard Gecko juga memiliki berbagai macam morph yang menjadikan hewan ini memiliki warna dan corak yang indah, dan yang paling menarik adalah proses pengembangbiakkan hewan ini tergolong mudah dan hemat biaya lho!</p>
  </ion-content>
</div>